pandas
numpy
python-dotenv
pydantic

langchain
langgraph
langchain-google-genai
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers

streamlit
plotly